@media only screen and (min-width: 992px) {
  .contact-actions {
    border: 0px;
    align-items: center;
    float: left;
    margin-right: 60px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 205px;
    position: absolute;
    will-change: transform;
    top: -32px;
    left: -10px;
    transform: translate3d(-9.0rem, 0px, 0px);
    align-items: center;
    padding-left: 1rem;
  }
  #container-contact-actions {
    margin-left: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
