.list-group-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #80147f;
    color: #fff;
    border: none;
    margin-top: 20px;
    font-size: small;
}
.list-group-item.active {
    z-index: 2;
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item:first-child {
    border: none;
}
.list-group-item+.list-group-item {
    border: none;
}