.list-group-item {
  display: block;
  background-color: #af41ae;
  color: #fff;
  border: none;
  margin-top: 10px;
  font-size: 15px;
  margin-left: 4rem;
  margin-right: 4rem;
  /* margin-bottom: 1rem; */
  border-radius: 5px;

}
.list-group-item.active {
  z-index: 2;
  color: #000;
  background-color: #fff;
  border-color: #fff;
  border-radius: 5px;
}
.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item:first-child {
  border: none;
}
.list-group-item + .list-group-item {
  border: none;
}
