.send_message {
  margin: 25px;
  box-shadow: 0px 0px 0px 1px #ffc107;
  border-radius: 7px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group-append {
  background: #6e73794f;
  height: 10vh;
  border-radius: 15px;
  margin-top: 25px;
}
.send_btn {
  background: #d39e00;
  border-radius: 15px;
  width: 50px;
}
