.contact-info-dropdown {
  border-radius: 5px;
  margin-right: 0px;
  background-color: #fff;
}
.card-header {
  color: #fff;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border: 5px;
  background-color: #402b2ba3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  background-color: #fff;
}

.contact-info {
  box-shadow: 1px 1px 1px 1px #0000006e;
  border-radius: 2px;
  height: auto;
  background: #80808054;
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 160px;
}

@media only screen and (min-width: 992px) {
  .contact-info-dropdown {
    margin-top: 0px;
    border-radius: 4px;
    margin-right: 0px;
    background-color: #fff;
    transform:translate3d(-23.8rem, -40px, 10px);
        width: 360px;
  }
}
